#anasayfa {
    width: 100%;
    position: absolute;
    overflow: auto;
    background-image: url(resim/arkaplan2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    width: 80px;
    height: 70px;
    border-style: none;
    position: absolute;
    margin: 3px;
    top: -4px;
    left: 30px;
    z-index: 2;
}
#logo a img:hover{
    width:72px ;
    height: 72px;
    box-shadow: 2px 2px 100px red;
}

#menu {
    float: right;
    position: relative;
    width: 100%;
    border-style: solid;
    top: -9px;
    background-color: #3f3f3f;
    left: -5px;

}

#içerik {
    border-style: none;
    width: 800px;
    height: 100px;
    text-align: center;
    position: relative;
    margin: auto;
    top: 270px;
}


#içerik h1 {
    position: relative;
    top: -85px;
    font-size: 110px;
    letter-spacing: 10px;
    color: white;
   
}
@keyframes example {
    0% {color:wheat;text-shadow: 1px 1px 100px,0px 0px 1px rgb(214, 0, 0);}
    100% {color:rgb(214, 0, 0);text-shadow: 3px 3px 100px,0px 0px 1px wheat;}
  }
  
  
  .a{
    
    animation-name: example;
    animation-duration: 3s;
    
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .y{
    animation-name: example;
    animation-duration: 2.6s;
   
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
  }


#sosyal {
    border-style: none;
    margin: auto;
    width: 800px;
    text-align: center;
    top: 300px;
    position: relative;
    margin-top: 30px;
}

#sosyal img {
    border-radius: 10px;
    margin-left: 100px;
    left: -45px;
    position: relative;
}

ul {

    list-style-type: none;
    height: 50px;

}

ul li {
    float: right;
    position: relative;

    right: 60px;
    margin-right: 60px;
    padding: 8px;
    top: 6px;
    width: 120px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li a:link {
    color: whitesmoke;

}

ul li a:visited {
    color: whitesmoke;
}

ul li:hover {
    background-color: rgb(225, 44, 44) ;
    transition: 1.5s;
    border-radius: 50%;
    text-shadow: 1px 1px 10px;
}





#sosyal a img:hover {
    width: 55px;
    height: 55px;
    box-shadow: 1px 1px 100px;

}
#iletişim{
    border-style: none;
    position: relative;
    margin: auto;
    top: 180px;
}
hr{
    position: relative;
    width: 50%;
    top: -40px;
}
#iletişim h1{
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    
}
#iletişim p{
    text-align: center;
    word-spacing: 5px;
    color: whitesmoke;
    top: -35px;
    position: relative;
}


iframe{
    
    top: 150px;
    position: relative;
    height: 270px;
    width: 775px;
    left: 380px;
}
#hakkımdaiçerik{
    position: relative;
    margin-left: 320px;
    margin-top:260px ;

}
#hakkımdaiçerik h1{
    color:rgb(225, 44, 44) ;
    font-size: 90px;
}
#hhr{
    top: -75px;
    left: -60px;
    position: relative;

}
#hakkımda{
    position: relative;
   margin-top: -50px;
   margin-left: 320px;
   
   display: inline-block;
 
}
#hakkımda img{
    border-radius: 5px;
}
#hakkımda p{
    border-style: none;
    width: 600px;
    height: 200px;
    position: relative;
    margin: auto;
    left: 220px;
    top: -205px;
    font-size: 20px;
    text-align: left;
    color: white;
    text-indent:10px;
    font-family: 'Times New Roman', Times, serif;
}
#iletişim p a:link{color: whitesmoke;
    text-decoration: none;
}
#iletişim p a:visited{
    color: whitesmoke;
    text-decoration: none;
}
#iletişim p a:hover{
    text-decoration: underline;
}






